.wrapper {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  margin-left: -15px;
}

md-checkbox {
  margin-right: 10px;
}

md-slide-toggle {
  display: inline-block;
}

.vocabWrapper, .buttonWrapper {
  margin-top:10px;
}

.buttonWrapper button {
  width: 200px;
}

.progressBar {
  padding-top: 10px;
  height: 10px;
  width: 50vw;
  margin: 0 auto;
  position: relative;
}
.progress {
  background: #e91e63;
  height: 10px;
  transition: width 0.25s;
  position: absolute;
  z-index:2;
}
.bar {
  background: #f5f5f5;
  height: 10px;
  position: absolute;
  z-index: 1;
}

.japanese {
  font-size:calc(24px + 2vw);
}

.furigana {
  font-size:calc(18px + 1vw);
}
.english {
  font-size: calc(12px + 0.5vw);
}

.tags {
  position: absolute;
  top:0;
  left:0;
  width: 300px;
  height: 300px;
  overflow:auto;
  display: none;
  z-index:10;
  background: #fff;
  padding: 15px;
  border: 1px solid #000;
  text-align: left;

  md-checkbox {
    display: block;
  }
}

.tags-wrapper {
  display:inline-block;
  position: relative;

  &:hover .tags {
    display:block;
  }
}
