.wrapper {
  width: 90vw;
  margin: 0 auto;
  text-align: center;
}

md-checkbox {
  margin-right: 10px;
}

md-slide-toggle {
  display: inline-block;
}

.vocabWrapper, .buttonWrapper {
  margin-top:10px;
}

.buttonWrapper button {
  width: 200px;
}

.progressBar {
  padding-top: 10px;
  height: 10px;
  width: 50vw;
  margin: 0 auto;
  position: relative;
}
.progress {
  background: #e91e63;
  height: 10px;
  transition: width 0.25s;
  position: absolute;
  z-index:2;
}
.bar {
  background: #f5f5f5;
  height: 10px;
  position: absolute;
  z-index: 1;
}

.japanese {
  font-size:calc(24px + 2vw);
}

.furigana {
  font-size:calc(18px + 1vw);
}
.english {
  font-size: calc(12px + 0.5vw);
}
