$color: #e99e0e;

.social {
  position: absolute;
  bottom: 0;

  a {
      color: #e91e63;
      font-size: 26px;
  }
}
ul {
  list-style: none;
  padding: 0;
  display: inline-block;

  li {
    font-size: 18px;
  }

  a {
    text-decoration: none;
  }
}
