$size:50;
$fontSize: $size/3;
$unit: vh;

.ask, .answer {
  color: #fff;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
.ask {
  width: $size + $unit;
  height: $size + $unit;
  background: rgba(63, 81, 181, 0.7);
  line-height: $size + $unit;
  font-size: $fontSize + $unit;
}
.answer {
  width: $size/2 + $unit;
  height: $size/2 + $unit;
  background: rgba(233, 30, 99, 0.7);
  margin-top: -$size/4 + $unit;
  margin-left: $size/1.5 + $unit;
  line-height: $size/2 + $unit;
  font-size: $fontSize/2 + $unit;
}
