.verbList {
    float: left;
    padding: 0;
    list-style: none;
    max-height: 100vh;
    overflow: auto;
    min-width: 125px;
    font-size: 23px;
    margin-top: -15px;
}
.definition {
    font-size: 16px;
    font-style: italic;
    margin: 10px 0;
    font-weight: 700;
}
.type {
  font-size: 28px;
}
.kanji {
  font-size:36px;
}
.hiragana {
  font-size: 20px;
}

.kanji:empty + .hiragana {
  font-size:36px;
}
label {
    vertical-align: middle;
    width: 150px;
    display: table-cell;
    text-align: right;
    padding-right: 20px;
    color: #e91e63;
    font-style: italic;
}

label + div {
  display: table-cell;
}
