.group {
  display:inline-block;
  padding-right: 10px;
}
.languageSubselect {
  display: inline-block;
  vertical-align: top;

  md-checkbox {
    display:block;
  }
}

.mat-dialog-content {
  height: 155px;
}
