body {
  font-family: sans-serif;
  color: #333;
  box-sizing: border-box;
}


html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}


.directions {
  color: #888;
  font-style: italic;
}





.loader {
  margin-top: 25%;
  position: relative;
  transform: translateY(-50px);
}

.rotate1,
.rotate2{
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  border: 5px solid #e91e63;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
}
.rotate1 {
  width: 100px;
  height: 100px;
}
.rotate2 {
  width: 50px;
  height: 50px;
  top:25px
}

.rotate1{
  -webkit-animation: rotate 1s linear infinite;
}

.rotate2{
  -webkit-animation: rotate2 1s linear infinite;
}

@-webkit-keyframes rotate {
  from{ -webkit-transform: rotate(0deg);   }
  to{   -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes rotate2 {
  from{ -webkit-transform: rotate(360deg);   }
  to{   -webkit-transform: rotate(0deg); }
}
